:root {
    box-sizing: border-box;
    color: black;
    font-size: 62.5%;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide y-scrollbar in Chrome & Safari */
::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
}
  
/* GENERAL STYLES */

li {
    list-style: none; 
    display: inline-block;
}

/* LAYOUT */

.inline {
    display: inline-block;
}
  
.block {
    display: block; 
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
  
@media only screen and (max-width: 767px) {
    .hidden-md-down {
        display: none; 
    } 
}

@media only screen and (min-width: 1400px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }
}

/* TYPOGRAPHY */

@font-face {
    font-family: 'Anton';
    src: url("../assets/fonts/Anton/Anton-Regular.ttf");
}

@font-face {
    font-family: 'EB Garamond';
    src: url("../assets/fonts/EB_Garamond/EBGaramond-Italic.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 7rem;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'EB Garamond';
    font-size: 3rem;
}

p, 
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;    
}

a {
    text-decoration: none;
    color: black; 
}

i {
    font-size: 1.5rem; 
}

.dot {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* TOP HEADER */
header {
    margin-bottom: 8vh;
}

header .top-header {
    background: white;
    padding: 10px 0 0 0;
    width: 100%;
}

.top-header .brand {
    text-align: center;
}

@media only screen and (min-width: 767px) {
    .top-header .brand {
        text-align: left;
        text-align: initial;
        padding: 0 15px;
        width: 50%;
        float: left;
    }
}

.top-header .brand .name {
    font-family: 'Anton', sans-serif;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
}

.top-header nav {
    float: right;
    padding: 0 15px;
}

.top-header nav ul li {
    float: left;
    position: relative;
}

.top-header nav ul li a {
    padding: 0 10px; 
}

.top-header nav ul li a .fab {
    font-size: 1.5rem;
}

/* 
*
*    SECTIONS 
*
*/

/* HOWDY SECTION */
.howdy {
    background: #FC5956;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.howdy h1 {
    padding: 16vh 0; 
    color: #f8f8f8;
    font-size: 11rem;
    margin: 0 auto;
    text-transform: uppercase;
}

.howdy .dot {
    color: #1C1B1F; 
    font-size: 13rem;
}

.howdy p {
    font-size: 2.2rem;
    color: #f8f8f8;
    text-align: center;
    margin: 0 auto;
}

.howdy strong {
    color: #1C1B1F;
}

/* WORK SECTION */

.work {
    background: #f8f8f8;
    padding-bottom: 8vh;
}

.work .work-header {
    text-align: initial;
    margin: 0 auto;
    padding: 8vh 0 0 8vh;
    font-size: 7rem;
}

.work .work-title p {
    padding: 0 8vh 4vh 8vh;
    text-align: center;
}

.work .work-title .dot {
    color: #FC5956
}

/* WORK GALLERY */

.work-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2.5rem auto;
    -webkit-box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
    background: #fff;
    line-height: 1.3;
    border-radius: 5px;

  }

.work-card a {
    color: inherit;
}

.work-card a:hover {
    color: #FC5956;
}

.work-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
    overflow: hidden;
}

.work-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    transition: -webkit-transform .2s;
    -webkit-transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
}

.work-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.work-card .description h2 {
    line-height: 1.4;
    margin: 1rem 0 0 0;
}

.work-card .description h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #808080;
    margin-top: 5px;
}

.description .read-more a {
    color: #FC5956;
    position: relative;
}

.description .read-more a:after {
    content: "\f105";
    font-family: "FontAwesome";
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin .3s, opacity .3s;
}

.description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.work-card p {
    position: relative;
}

.work-card p:first-of-type {
    margin-top: 3rem;
}

.work-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #FC5956;
    width: 35px;
    top: -1.5rem;
    border-radius: 3px;
}

@media only screen and (min-width: 640px) {
    .work-card {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 700px;
    }
    .work-card .meta {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
        height: auto;
    }
    .work-card .description {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
    }
    .work-card .description:before {
        -webkit-transform: skewX(-3deg);
                transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .work-card.alt {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .work-card.alt .description::before {
        left: inherit;
        right: -10px;
        -webkit-transform: skew(3deg);
                transform: skew(3deg);
    }
}

/* ABOUT */

.about {
    background: #F2C041; 
    padding-bottom: 8vh;
}
.about .details {
    width: 100%;
}

.about .details h1 {
    margin: 0 auto;
    color: #FC5956;
    padding: 8vh 0 0 8vh;
}

.about .details h2 {
    font-size: 2rem;
}

.about .details p {
    margin: 4vh 8vh;
}

.about .details .dot {
    color: #1C1B1F; 
}

.about .details a {
    color: #FC5956;
}

.texas svg {
    margin: 6vh;
}

.heart {
    animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.9);
    }
    60% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

 @media only screen and (min-width: 767px) {
    .about {
        background: -webkit-gradient(linear, left top, right top, from(#F8F8F8), color-stop(50%, #F8F8F8),  color-stop(50%, #F2C041), to(#F2C041)) ;
        background: -webkit-linear-gradient(left, #F8F8F8 0%, #F8F8F8 50%,  #F2C041 50%, #F2C041 100%) ;
        background: -o-linear-gradient(left, #F8F8F8 0%, #F8F8F8 50%,  #F2C041 50%, #F2C041 100%) ;
        background: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 50%,  #F2C041 50%, #F2C041 100%) ;
        padding-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .about .details {
        width: 50%;
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
    .texas {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .texas svg {
        width: 100%;
    }
 }
 
 /* CONTACT */

.contact .title h3 {
    color: #FC5956;
    padding-left: 4vh;
    margin: 4vh auto;
}

.contact .title h1 {
    padding-left: 4vh;
    margin: 0 auto 4vh 0;
}

.contact .title .dot {
    color: #F2C041;
}

address p strong {
    color: #FC5956;
}

address .icon,
address p {
    padding-left: 4vh;
    margin: 0 auto;
    margin-bottom: 4vh;
}

@media only screen and (min-width: 767px) {
    .contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .contact .title {
        padding: 4vh;
    }
    .contact .contact-details {
        width: 50%;
    }
    address .icon, 
    address p {
        text-align: center;
        padding-left: 4vh;
    }
}

/* FOOTER */

footer {
    background: #1C1B1F;
}

.socials ul {
    text-align: center;
    padding-left: 0;
}

.socials {
    padding: 4vh;
}

.socials ul li a {
    padding: 0 15px;
}

.socials ul li a i {
    text-align: center;
    font-size: 3rem;
    color: #F8F8F8;
}