:root {
    box-sizing: border-box;
    color: black;
    font-size: 62.5%;
    margin: 0px; }
  
  /* Colors */
  li {
    list-style: none; }
  
  a {
    text-decoration: none;
    color: black; }
  
  h1 {
    font-size: 5rem; }
  
  i {
    font-size: 1.5rem; }
  
  .block {
    display: block; }
  
  @media only screen and (max-width: 767px) {
    .hidden-md-down {
      display: none; } }
  
  header, .work, .about {
    height: 100vh;
    text-align: center; }
  
  header {
    width: 100%;
    background: linear-gradient(to right, #FC5956 0%, #FC5956 50%, #F8F8F8 50%, #F8F8F8 100%); }